

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

fecha_actual <%= Time.now %>

<%if Time.now.year >=2023 %>
   <p> Version 2.0 </p>
<%else %>
   <p> Version 2.1 </p>
<%end %>

<hr>
<p> Aqui estoy cargando imagen con helper imagentag </p>

<%= image_tag "imagendemo.png" %>

<br>
<p> Aqui estoy agregando una tabla de boostrap </p>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>


